language.exe

*.exe
asm_file.asm
asm_file2.asm

*.o
*.out
*.ast

compiled/

Obj/
frontend/Obj/
backend/Obj/

frontend/frontend.exe
frontend.exe

backend.exe

middleend.exe

orientiered_tree.ast

logs/
backend_logs/
frontend_logs/

asmlog.txt
spulog.txt
compiled.bin
compiled.txt

generated_code.txt

.vscode/
