language.exe

Obj/
frontend/Obj/
backend/Obj/

frontend/frontend.exe
frontend.exe

backend.exe

middleend.exe

logs/
backend_logs/
frontend_logs/

asmlog.txt
spulog.txt
compiled.bin
compiled.txt

generated_code.txt

.vscode/
